@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  hight: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.index-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*Header*/
.main-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 339px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  width: 268px;
  margin-left: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link-want-here {
  text-transform: uppercase;
}

/*Index*/
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  color: #000000;
}

.hero-text-container {
  text-align: center;
  background-image: url("../images/main/red-rocks.jpg");
  background-size: 1200px 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  background-repeat: no-repeat;
  background-color: #82b3d3;
}

.hero-text {
  display: block;
  margin: 0 auto;
}

.advantages {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.title-block {
  padding: 69px, 0, 69px, 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: #82b3d3;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item-with-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 1200px;
  color: #ffffff;
}

.advantages-item:nth-child(2n) {
  width: 400px;
  height: 358px;
  background-color: rgba(130, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  width: 400px;
  height: 358px;
  background-color: rgba(130, 179, 211, 0.2);
}

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.welcome-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.features {
  color: #000000;
  background-color: #ffffff;
}

.features-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #82b3d3;
}

.features-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.features-item {
  width: 400px;
  height: 385px;
}

.hotels {
  color: #000000;
  background-color: #ffffff;
}

.hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.hotels-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotels-search {
  width: 376px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.newsletter {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/main/blurred-rocks.jpg");
  background-size: 1200px 414px;
  background-repeat: no-repeat;
}

.page-subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.page-subscription-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/*Footer*/
.page-footer {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

.footer {
  margin: auto;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

/*Catalog*/
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.main-inner {
  color: #ffffff;
  background-image: url("../images/catalog/blured-rocks-catalog.jpg");
  background-size: 1200px 412px;
  background-repeat: no-repeat;
  background-color: #82b3d3;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.filter-container {
  display: flex;
  flex-direction: row;
}

.filter-hotel-options {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.button-on,
.button-off {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.searching-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-card {
  color: #000000;
  list-style-type: none;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-button-more,
.product-card-button-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.product-card-button-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.pagination {
  list-style-type: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}
