@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.main-header {
  color: #000000;
  background-color: #ffffff;
}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}
.main-index {
  color: #000000;
  background-color: #82B3D3;
  background-image: url("../images/main/red-rocks.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.advantages {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
}
.advantages-list {
  background-color: #82B3D3;
  text-align: center;
}
.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.advantages-with-image {
  color: #ffffff;
}
.welcom-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.welcom-subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
}
.features-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.features-list {
  background-color: #82B3D3;
  text-align: center;
}
.hotels-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.hotels-subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
}
.hotels-search {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}
.newsletter {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/main/blurred-rocks.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.page-footer-title {
  ont-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.page-footer-subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
}
